<%= form_with url:"/search", method: :post,class:"center py-3 max-width2" do |form| %>

<div class="field form-gruop">
    <%= form.text_field :q, class:"form-control" %>
</div>

<%= form.submit 'ابحث', class:"btn my-2 btn-success" %>
<% end %>


<% if @results %>
<br><br>

<div class="container max-width3 meds">
    <% @results.each do |result| %>
      <% if result.class == CosmMed %>
        <%= link_to cosm_med_path(result.id), class:"card-link m-auto" do %>
          <div class="card card3 en">
              <div class="p-1 pb-0 product-img ">
                  <%= image_tag result.image_url if result.image %>
              </div>
              <div class="product-info p-2 pt-0">
                  <h6 class="card-title"><b><%= result.name %></b></h6>
                  <span class="card-text bg-warning px-1 rounded"><%= result.price %> EGP</span>
              </div>
          </div>
        <% end %>
    <% else %>
      <%= link_to medication_path(result.id), class:"card-link m-auto" do %>
        <div class="card card3 en">
            <div class="p-1 pb-0 product-img ">
                <%= image_tag result.image_url if result.image %>
            </div>
            <div class="product-info p-2 pt-0">
                <h6 class="card-title"><b><%= result.name %></b></h6>
                <span class="card-text bg-warning px-1 rounded"><%= result.price %> EGP</span>
            </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
</div>
<br><br>
<br><br>
<% end %>