<%= form_with(model: cosm_cat) do |form| %>
<% if cosm_cat.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(cosm_cat.errors.count, "error") %> prohibited this cosm_cat from being saved:</h2>

    <ul>
        <% cosm_cat.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field form-gruop">
    <%= form.label 'الاسم' %>
    <%= form.text_field :name, class:"form-control" %>
</div>

<div class="field form-gruop">
    <%= form.label :parent %>
    <%= form.select :parent, options_for_select(['Makeup', 'Hair Care', 'Baby Care','Vitamins','Fitness Supplements','Skin Care','Household Products', 'Personal Care']), class:"form-control" %>
</div>

<div class="field form-gruop">
    <%= form.label 'الصورة' %>
    <%= form.file_field :image, class:"form-control" %>
</div>

<div class="field form-gruop">
    <%= form.submit 'اضافة قسم', class:'btn btn-success m-2' %>
</div>
<% end %>