<p id="notice"><%= notice %></p>

<h1>Cosm Cats</h1>
<br>
<%= link_to 'اضافة قسم جديد', new_cosm_cat_path, class:"btn-success btn m-3" %>
<br>
<table class="table table-striped m-2" style="font-size:15px;">
    <thead>
        <tr>
            <th>اسم القسم</th>
            <th>الصورة</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @cosm_cats.each do |cosm_cat| %>
        <tr>
            <td><%= cosm_cat.name %></td>
            <td><%= image_tag cosm_cat.image_url, style:"height:50px;" if cosm_cat.image %></td>
            <td><%= link_to 'عرض', cosm_cat, class:"btn btn-secondary" %></td>
            <td><%= link_to 'تعديل القسم', edit_cosm_cat_path(cosm_cat), class:"btn btn-warning" %></td>
            <td><%= link_to 'حذف القسم', cosm_cat, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
</table>