<%= form_with(model: medication) do |form| %>
  <% if medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medication.errors.count, "error") %> prohibited this medication from being saved:</h2>

      <ul>
        <% medication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-gruop">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
<br>
  <div class="field form-gruop">
    <%= form.label "Category" %>
    
    <%= select_tag "medication[#{:category_id}]", options_from_collection_for_select(@categories, "id", "name", medication.category.id), class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :ar_name %>
    <%= form.text_field :ar_name, class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :generic_name %>
    <%= form.text_field :generic_name, class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :shape %>
    <%= select_tag "medication[#{:shape}]", options_for_select(["tablet","syrup","capsule","powder"], medication.shape), class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :ar_shape %>
    <%= select_tag "medication[#{:ar_shape}]", options_for_select(["حبوب","شراب","كبسول","بودرة"], medication.shape), class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.label :ar_company %>
    <%= form.text_field :ar_company, class:"form-control" %>
  </div>


<br>
  <div class="field">
    <% if medication.image %>
      <%= image_tag medication.image_url, style: "width:200px;" %>
    <% end %>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
<br>
  <div class="field">
    <%= form.label :availability %>
        <%= select_tag "medication[#{:availability}]", options_for_select(["true","false"], medication.availability), class:"form-control" %>
  </div>
<br>
  <div class="field">
    <%= form.submit class:"btn btn-block btn-success" %>
  </div>
<% end %>
<br><br>