

  <h1 class= "m-3">Medications</h1>

  <table class="table table-striped m-2" style="font-size:15px;">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Ingredients</th>
        <th>Shape</th>
        <th>Dose</th>
        <th>Quantity</th>
        <th>Img</th>
        <th>Availability</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @medications.each do |medication| %>
        <tr >
          <td class="table-center"><%= @i+=1 %></td>
          <td><%= medication.name %></td>
          <td><%= medication.description %></td>
          <td><%= medication.price %></td>
          <td><%= medication.category.name %></td>
          <td><%= medication.ingredients %></td>
          <td><%= medication.shape %></td>
          <td><%= medication.dose %></td>
          <td><%= medication.quantity %></td>
          <% if medication.image.attached? %>
            <td><%= image_tag medication.image, style:"height:50px;" %></td>
          <%else%>
            <td> - </td>
          <% end %>
          <td><%= medication.availability %></td>
          <td><%= link_to 'Show', medication, class:"btn btn-success py-1 px-1" %></td>
          <td><%= link_to 'Edit', edit_medication_path(medication), class:"btn btn-warning py-1 px-1" %></td>
          <td><%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger py-1 px-1" %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>

  

  <%= link_to 'New +', new_medication_path, class:"btn btn-success py-1 px-2 m-3" %>


  <table >

  <br><br><br><br><br>
  
