<div class="max-width2 center show p-2">
  <br><br>
  <%= image_tag @medication.image, class:"show-img" %>
  <hr>
  <h6 class="flex-row">
    <strong> <%= @medication.name %> <%= @medication.dose %> </strong> 
  </h6>
    <p class="show-price">EGP <%= @medication.price %></p>
    <p>
    <% if @medication.availability == "true" %>
      <i class="fa fa-check-circle"></i> Available for delivery
    <% else %>
      <i class="fa fa-times-circle"></i> Sorry, not available now
    <% end %>
    </p>
  
  
  <div class="row text-left">
    <div class="col-4">
      <strong><p>Description:</p></strong>
    </div>
    <div class="col-8">
      <p><%= @medication.description %></p>
      <br>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-4">
      <strong><p>Dosage form:</p></strong>
    </div>
    <div class="col-8">
      <p><%= @medication.shape %></p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-4">
      <strong><p>Active ingredients:</p></strong>
    </div>
    <div class="col-8">
      <p><%= @medication.ingredients %></p>
    </div>
  </div>

</div>

<br><br>
<br><br>