<p id="notice"><%= notice %></p>

<h1 class="m-3">Orders</h1>

<table class = "orders-table">
  <thead>
    <tr>
      <th>Item</th>
      <th>IMG</th>
      <th>Quantity</th>
      <th>Tprice</th>
      <th>User</th>
      <th>Phone</th>
      <th>City</th>
      <th>Center</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.item %></td>
        <td><%= image_tag order.image_url, style:'max-height:50px' if order.image %></td>
        <td><%= order.quantity %></td>
        <td><%= order.tprice %></td>
        <td><%= order.user.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.city %></td>
        <td><%= order.center %></td>
        <td><%= order.address %></td>
        <td><%= link_to 'Sold', "/sold/#{order.id}", method: :post %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class:"btn btn-success m-3" %>
