    <%= form_with(model: cart) do |form| %>
      <% if cart.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

          <ul>
            <% cart.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


        <div class="field max-width2 center">
          <%= form.number_field :quantity, class:"form-control" %>
        </div>
        

        <div class="actions">
          <%= form.submit "Update", class:" btn btn-success" %>
          <%= link_to 'Back', carts_path, class:"btn btn-secondary m-2"%>
        </div>
      
    <% end %>
