<div class="max-width2 center show p-2 position-relative">
    <% unless @carts.empty? %>
    <br>
    <h2><strong>عربة التسوق</strong></h2>
    <%
      total = 0
      total_items = 0
    %>
    <% @carts.each do |cart| %>


    <% if cart.ordered == "true" %>
    <% med = Medication.find(cart.item) %>
    <% elsif cart.ordered == "false" %>
    <% med = CosmMed.find(cart.item) %>
    <% end %>

    <% total_items = total_items + (cart.quantity)%>
    <% total = total + ((med.price) * (cart.quantity))%>
    <div class="d-flex cart-item p-2 my-3 border rounded align-items-center position-relative">
        <div class="cart-img mx-2">
            <%= image_tag med.image_url if med.image %>
        </div>
        <div>
            <p class="m-0 pt-2"><strong><%= med.name.capitalize %></strong></p>
            <p class="m-0" style="color:#038006;"><strong>ج-م - <%= med.price %></strong></p>
            <p class="m-0"><strong>الكمية: <%= cart.quantity %></strong></p>
            <p>
                <% if med.class.method_defined? :availability %>
                <% if med.availability == "true" %>
                <i class="fa fa-check-circle"></i> متاح للتوصيل الان
                <% else %>
                <i class="fa fa-times-circle"></i> عذراً، هذا المنتج غير متاح حالياً
                <% end %>
                <% else %>
                <i class="fa fa-check-circle"></i> متاح للتوصيل الان
                <% end %>
            </p>


            <div class="position-absolute cart-controls"> <%= link_to "", edit_cart_path(cart), class:"btn btn-warning btn-sm fa fa-edit" %>
                <%= link_to '', cart, method: :delete, data: { confirm: 'هل أنت متأكد ؟!' },class:"btn btn-sm btn-danger fas fa-trash" %></div>
        </div>
    </div>
    <% end %>
    <% else %>
    <h3 class="alert alert-warning">عربة التسوق فارغة...</h3>
    <%= link_to "اطلب الان!", root_path %>
    <% end %>
</div>


<br><br>
<br><br>
<br><br>
<br><br>
<% if total %>
<div class="total ">
    <div class="pt-3">
        <% if total_items == 1 %>
        <p>لديك في العربة <strong class="green">منتج واحد</strong>.</p>
        <% else %>
        <p><strong>لديك في العربة <%= total_items %> أشياء</strong></p>
        <% end %>
    </div>
    <div class="pt-1">
        <p> التكلفة الكلية <strong class="green"> <%= total %></strong> ج-م </p>
    </div>
    <strong><%= link_to "استكمال الطلب", '/checkout', method: :get, class:"btn btn-warning w-100 checkout" %></strong>
</div>
<% end %>