<br><br>
<div class="max-width2 m-auto p-4">
<h2 class="text-center" style= "font-weight:500;" >Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control my-4"%>
  </div>

  <div class="field form-label">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"********", class:"form-control my-4" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-label">
      <%= f.check_box :remember_me %>
      <span style= "font-weight:500;">Remember me</span>
    </div>
  <% end %>

  <div class="actions ">
    <%= f.submit "Log in", class: "btn btn-primary my-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>