<%= form_with url: "/new_order", method: :post  do |form| %>

<div class="field ar">
    <%= form.label "المدينة" %>
    <%= form.select :city, options_for_select(["كفر الدوار"]), class:"form-control", required:true %>
</div>

<div class="field ar">
    <%= form.label "المكان" %>
    <%= form.select :center, options_for_select(["الحدائق","سيدي شحاتة","التمليك", "السناهرة", "مدخل كفر الدوار", "كفر الدوار", "شارع المحكمة"]), class:"form-control", required:true %>
</div>

<div class="field ar">
    <%= form.label "العنوان بالتفصيل" %>
    <%= form.text_field :address, class:"form-control", required:true %>
</div>

<div class="field ar">
    <%= form.label "رقم الهاتف" %>
    <%= form.text_field :phone, class:"form-control", minlength:11, required:true %>
</div>

<div class="field ar">
    <%= form.label "رقم هاتف احتياطي (اختياري)" %>
    <%= form.text_field :phone, class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "ملاحظات" %>
    <%= form.text_area :notes , style: "width: 100%; min-height:100px;" %>
</div>

<div class="field ar">
    <%= form.submit 'اطلب', class:'form-control btn-success' %>
</div>

<% end %>
<br><br><br>