<%= form_with  url:"/n_prescription", method: :post do |form| %>


<div class="field ar">
    <%= form.label "الصورة" %>
    <%= form.file_field :image, class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "المدينة" %>
    <%= form.select :city, options_for_select(["كفر الدوار"]), class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "المكان" %>
    <%= form.select :center, options_for_select(["الحدائق","سيدي شحاتة","التمليك", "السناهرة", "مدخل كفر الدوار", "كفر الدوار", "شارع المحكمة"]), class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "العنوان بالتفصيل" %>
    <%= form.text_field :address, class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "المحمول" %>
    <%= form.text_field :phone, class:"form-control" %>
</div>

<div class="field ar">
    <%= form.label "ملاحظات" %>
    <%= form.text_area :notes, size: "40x10"%>
</div>

<%= form.hidden_field :user_id, value:current_user.id  %>

<div class="field ar">
    <%= form.submit 'Order', class:'form-control btn-success' %>
</div>
<% end %>