<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>Id:</strong>
    <%= @category.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= @category.img %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>

