<%= form_with(model: cosm_med) do |form| %>
  <% if cosm_med.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cosm_med.errors.count, "error") %> prohibited this cosm_med from being saved:</h2>

      <ul>
        <% cosm_med.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :cosm_cat_id %>
    <%= form.text_field :cosm_cat_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
