<%= form_with(model: cosm_med) do |form| %>
<% if cosm_med.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(cosm_med.errors.count, "error") %> prohibited this cosm_med from being saved:</h2>

    <ul>
        <% cosm_med.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<br>
<div class="field form-gruop">
    <%= form.label 'اسم المستحضر' %>
    <%= form.text_field :name, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label 'السعر' %>
    <%= form.text_field :price, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label 'الاسم بالعربي' %>
    <%= form.text_area :description, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label "القسم" %>
    <%= select_tag "cosm_med[cosm_cat_id]", options_from_collection_for_select(CosmCat.all, :id, :name, cosm_med.cosm_cat_id), class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label 'الصورة' %>
    <%= form.file_field :image, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label "الكمية المتاحة" %>
    <%= form.number_field :quantity, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.label 'الخصم' %>
    <%= form.number_field :discount, class:"form-control" %>
</div>
<br>
<div class="field form-gruop">
    <%= form.submit 'اضافة المستحضر ناااو', class:"btn btn-success" %>
</div>
<% end %>

<br><br><br><br>