<h1 class="m-3">مستحضرات التجميل</h1>

<br><br>
<%= link_to 'اضافة جديد', new_cosm_med_path, class:"btn-success btn m-3" %>
<br>

<h4>Import bulk data</h4>
<%= form_tag import_cosm_meds_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<br>
<table class="table table-striped m-2" style="font-size:15px;">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الاسم بالعربي</th>
            <th>السعر</th>
            <th>القسم</th>
            <th>الصورة</th>
            <th>الكمية</th>
            <th>الخصم</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @cosm_meds.each do |cosm_med| %>
        <tr>
            <td><%= cosm_med.name %></td>
            <td><%= cosm_med.description %></td>
            <td><%= cosm_med.price %></td>
            <td><%= cosm_med.cosm_cat.name %></td>

            <% if cosm_med.image %>
                <td><%= image_tag cosm_med.image_url, style:"height:50px;" %></td>
            <% elsif cosm_med.img %>
                <td><%= image_tag cosm_med.img, style:"height:50px;" %></td>
            <% else %>
                <td>-</td>
            <% end %>
            <td><%= cosm_med.quantity %></td>
            <td><%= cosm_med.discount %></td>
            <td><%= link_to 'عرض', cosm_med, class:"btn btn-secondary" %></td>
            <td><%= link_to 'تعديل', edit_cosm_med_path(cosm_med), class:"btn btn-warning" %></td>
            <td><%= link_to 'حذف', cosm_med, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br><br><br><br>